<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
  <select id="selectReview" parameterType="String" resultType="review">
      SELECT * FROM review WHERE RE_PID = #{id}
   </select>
    <select id="selectRequest" parameterType="String" resultType="request">
      SELECT * FROM request WHERE R_PID = #{id}
   </select>
   <select id="LaundryInfo" parameterType="String" resultType="n_laundry">
   SELECT nl.nl_code,nl.nl_pid,nl.nl_name,nl.nl_address,nl.nl_phone,nl.nl_repair,nl.nl_content,nl.nl_open,nl.nl_close,nl.nl_permission,nl_timelap,nl_qty
   from nl inner join review on nl.nl_code=review.re_nlcode where review.re_code=#{re_code}
   </select>
     <select id="reviewInfo" parameterType="String" resultType="review">
      SELECT * FROM review WHERE re_code = #{re_code}
   </select>
   <select id="ImageSelect" parameterType="String" resultType="Image">
        SELECT * FROM IMAGE WHERE IMG_BOARD = #{re_code}
   </select>
   <insert id="reviewadd" parameterType="review">
         <selectKey keyProperty="re_code" resultType="String" order="BEFORE">
         select 're'|| MAX(substr(re_code,3)+1) as re_code  from review
      </selectKey>
      INSERT INTO review
      VALUES(#{re_code},#{re_nlcode},#{re_content},sysdate,#{re_star},#{re_pid},#{re_nrcode})
   </insert>
   <update id="reviewUpdate" parameterType="Map">
      UPDATE review SET re_content=#{re_content},re_star=#{re_star} where re_code=#{re_code}
   </update>
      <insert id="reviewPictureAdd" parameterType="image">
   <selectKey keyProperty="img_code" resultType="String" order="BEFORE">
         select 'img'|| MAX(substr(img_code,4)+1) as img_code from img
      </selectKey>
      INSERT INTO IMG
      VALUES(#{img_code},2,#{img_name},#{img_board})
   </insert>
      <delete id="imgDelete" parameterType="image">
      DELETE FROM IMG WHERE img_code = #{img_code}
   </delete>
    <select id="shopInfo" parameterType="String" resultType="n_laundry">
        SELECT * FROM nl WHERE nl_code= #{re_nlcode}
   </select>

	<select id="requestCheck" resultType="Request">
		SELECT * FROM REQUEST
	</select>
	<select id="getperson" resultType="Person" parameterType="String">
		SELECT * FROM PERSON WHERE P_ID=#{pid}
	</select>

</mapper>